<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ main.title }}</title>
		<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
	
		<link rel="stylesheet" href="/static/css/swiper-bundle.min.css" />
		<link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" href="/static/css/front-ui.css" />
		<link rel="stylesheet" href="/static/css/windNavigator.css" />
		<link rel="stylesheet" href="/static/css/eventList.css" />
		
		<!--  <link type="text/css" rel="stylesheet" href="/static/css/simple-sidebar.css"/>-->

		<link rel="stylesheet" href="/static/css/googleapis.css">

		<link rel="stylesheet" href="/static/css/all.css">
		<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
    	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-vue.css"/>

    	<link type="text/css" rel="stylesheet" href="/static/css/jquery-ui.css"/>

    	<link rel="stylesheet" href="/static/css/ol.css" type="text/css">
    	<link type="text/css" rel="stylesheet" href="/static/css/ol-popup.css"/>

    	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-colorpicker.css"/>
    	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap4-toggle.css"/>

    	<!--
    	// this css make conflict with video player controls that is showing over video screen.
    	<link type="text/css" rel="stylesheet" href="/static/css/unreal_html5_player_styles_v1.css"/>
    	-->

    	<!-- BEGIN NHN  -->
    	<link type="text/css" rel="stylesheet" href="/static/css/toastui-select-box.css"/>
    	<link type="text/css" rel="stylesheet" href="/static/css/tui-chart.css"/>
    	<link type="text/css" rel="stylesheet" href="/static/css/tui-time-picker.css"/>
    	<link type="text/css" rel="stylesheet" href="/static/css/tui-date-picker.css"/>
    	<link type="text/css" rel="stylesheet" href="/static/css/tui-pagination.css"/>
    	<link type="text/css" rel="stylesheet" href="/static/css/tui-grid.css"/>
    	<!-- END NHN -->

    	<link type="text/css" rel="stylesheet" href="/static/css/ekko-lightbox.css"/>

    	<link href="/static/css/slimselect.css" rel="stylesheet"></link>
 
    	<link rel="stylesheet" href="/static/css/material_icon.css"/>
		<!--  <link rel="stylesheet" href="/static/css/material.indigo-pink.min.css"/> -->
 
		<link rel="stylesheet" href="/static/css/nanoscroller.css"/>
		<link rel="stylesheet" href="/static/css/vue-multiselect.min.css"/>

		<link rel="stylesheet" href="/static/css/checkboxes.min.css"/>

		<link type="text/css" rel="stylesheet" href="/static/css/smartfactory.css"/>
	
		<script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="/static/js/swiper-bundle.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script type="text/javascript" src="/static/js/front-ui.js"></script>
		
  		<script src="/static/js/jquery-ui.js"></script>

    	<script src="/static/js/popper.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>

    	<script src="/static/js/es6-promise.auto.js"></script>

    	<script src="/static/js/vue.js"></script>
    	<script src="/static/js/vue-router.js"></script>
    	<script src="/static/js/vuex.js"></script>
    	<script src="/static/js/axios.js"></script>
    	<script src="/static/js/vue-i18n.js"></script>

    	<script src="/static/js/material.min.js"></script>

		<script src="/static/js/ol.js"></script>
    	<script src="/static/js/polyfill.min.js"></script>
    	<script src="/static/js/ol-popup.js"></script>

    	<script src="/static/js/sockjs.min.js"></script>
    	<script src="/static/js/stomp.min.js"></script>

    	<script src="/static/js/moment.js"></script>
    	<script src="/static/js/moment-timezone-with-data.min.js"></script>
    	<script src="/static/js/locales.js"></script>

    	<script src="/static/js/bootstrap-colorpicker.js"></script>
    	<script src="/static/js/bootstrap4-toggle.js"></script>

    	<script src="/static/js/unreal_html5_player_script_v2.js"></script>
    	<script src="/static/js/dms-video-player.min.js"></script>


    	<!-- BEGIN NHN  -->
    	<script src="/static/js/tui-code-snippet.js"></script>
    	<script src="/static/js/toastui-select-box.js"></script>
    	<script src="/static/js/tui-chart-all.js"></script>
    	<script src="/static/js/tui-time-picker.js"></script>
    	<script src="/static/js/tui-date-picker.js"></script>
    	<script src="/static/js/tui-pagination.js"></script>
    	<script src="/static/js/tui-grid.js"></script>
    	<!-- END NHN -->

    	<script src="/static/js/ekko-lightbox.js"></script>

    	<script src="/static/js/slimselect.js"></script>

    	<script src="/static/js/Chart.js"></script>
    	<script src="/static/js/chartjs-plugin-annotation.js"></script>
    	<script src="/static/js/v-calendar.umd.min.js"></script>
    	<script src="/static/js/vue-multiselect.min.js"></script>
    	<script src="/static/js/vuejs-paginate.js"></script>

    	<script src="/static/js/jquery.nanoscroller.min.js"></script>

    	<script src="/static/js/lodash.js"></script>

    	<script src="/static/js/smartfactory.js"></script>

    	<script src="/static/app/main.js" type="module"></script>
    	<!-- <script src="/static/js/socket.io.js"></script> -->
    	<script src="/static/js/require.js"></script>

    	<script src="/static/js/openDataCctvStream.js"></script>
    	<script src="/static/js/its_min.js"></script>
    	<script src="/static/js/commons.js"></script>
    	<script src="/static/js/mainCCTV.js"></script>
    	

    	<!-- <script src="/static/js/swiper-bundle.min.js"></script>-->
    	
    	<!-- 
    	<script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="/static/js/swiper-bundle.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script type="text/javascript" src="../js/front-ui.js"></script>
		<link rel="stylesheet" href="/static/css/swiper-bundle.min.css" />
		<link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" href="/static/css/front-ui.css" />
		 -->



	</head>
	<body>
		<div id="app" class="wrap">
			<router-view/>
			
		</div>

		<div id="cover-spin"></div> 

		<!-- Confirm Modal -->
		
		<div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="confirmTitle" aria-hidden="true" style="z-index:99999999999999999999999999; opacity: 0.85;">
  			<div class="modal-dialog modal-dialog-centered" role="document">
    			<div class="modal-content">
      				<div class="modal-header">
        				<div class="modal-title" id="confirmTitle"><i class="fa fa-trash-alt"></i>&nbsp;{{ main.dialog.title }}</div>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          					<span aria-hidden="true">&times;</span>
        				</button>
      				</div>
      				<div class="modal-body" id="confirmContent">
        			</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-secondary" data-dismiss="modal" id="confirmCancel">{{ main.dialog.cancel }}</button>
        				<button type="button" class="btn btn-primary" id="confirmOk">{{ main.dialog.ok }}</button>
      				</div>
    			</div>
  			</div>
		</div>

		<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="z-index:99999999; position: fixed; left: 50%; top: 10%; transform: translate(-50%, 0%); min-height: 200px;">
			<div id="toastNotice" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000" style="min-width:330px;">
	  			<div class="toast-header">
	    			<svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect  id="toastNoticeLogo" fill="#007aff" width="100%" height="100%"></rect></svg>
	    			<strong class="mr-auto" id="toastNoticeTitle"></strong>
	    			<small class="text-muted" id="toastNoticeTime"></small>
	    			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
	      				<span aria-hidden="true">&times;</span>
	    			</button>
	  			</div>
	  			<div class="toast-body text-center" id="toastNoticeMessage">
	    		</div>
			</div>
	    </div>
	    

	    <script type="text/javascript">
	        $(document).ready(function () {
	            $('#sidebarCollapse').on('click', function () {
 	                $('#sidebar').toggleClass('active');
	            });
	        });

	        $('.toast').toast();
	    </script>
	</body>
</html>