<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<title>{{ main.title }}</title>
		<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
		
		<link type="text/css" rel="stylesheet" href="/static/css/smartfactory.css"/>
		
		<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
	</head>
	<body>
		<div class="position-relative" id="introducePage">
			<img src="/static/images/service.jpg"/>
			<a href="./login"><div id="logoHiddenWrap" class="position-absolute pointer"></div></a>
			<div class="position-absolute" id="introduceBtnWrap">
				<div class="d-flex align-items-center">
					<img src="/static/images/stroke_off.jpg"/>
					<a href="./introduce"><img src="/static/images/introduce_btn_off.png" class="pointer"/></a>
				</div>
				<div class="d-flex align-items-center">
					<img src="/static/images/stroke_on.jpg"/>
					<a href="./service"><img src="/static/images/service_btn_on.png" class="pointer"/></a>
				</div>
			</div>
		</div>
	</body>
</html>